body {
    text-align: center;
}

.container {
    display: inline-block;
}

button {
    display: block;
    margin: 1em auto;
}

label {
    margin-right: 1em;
}

table {
    display: none;
    background-color: #eee;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
}

caption {
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
    background-color: #eee;
}

th {
    background-color: #ddd;
}

caption, td,th {
    padding: 10px;
}
