img {
    margin: auto;
    display: block;
}

table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
}

td, th {
    text-align: center;
    padding: 5px;
    border: 2px solid black;
}

h1,h2,h3 {
    text-align: center;
}

#members {
    margin: auto;
    width: 80%;
}

li {
    padding-top: 3px;
}

.hline {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
